#ball {
    position: relative;
    width: 64px;
    height: 64px;
}

#left-paddle, #right-paddle {
    position: absolute;
    width: 40px;
    height: 250px;
}

h1{
    position: absolute;
    top: 0;
    margin: 0;
}

p{
    position: relative;
    padding-top: 30px;
    margin-left: 40px;
}

#scores{
    position: absolute;
    top: 10px;
    left: 42%;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    display: flex; /* Added */
}
body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
