#ball {
    position: relative;
    width: 64px;
    height: 64px;
}

#left-paddle, #right-paddle {
    position: absolute;
    width: 40px;
    top: 30%;
    height: 250px;
}

#left-paddle {
    left: 10px;
}

#right-paddle {
    right: 10px; /* Adjust this value based on your layout */
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
